@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Fira Sans", serif;
}

main {
    margin: 130px auto;
}

/* All Shared style here */
.btn-primary {
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    background: #006A50;
    padding: 16px 26px;
    cursor: pointer;

}

.btn-primary a {
    text-decoration: none;
    color: #FFFFFF;
}

.txt-color {
    color: #0E0E0EB3;
    font-size: 16px;
    font-weight: 400;
}

.section-title {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
}


/*------ Shared style ends -------- */


/* nav bar style start here */
nav {
    align-items: center;
    margin: 0 auto;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    list-style: none;
    margin-right: 35px;
}

.nav-title {
    font-weight: 800;
    font-size: 24px;
    color: #0e0e0e;
}

.btn-nav {
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    cursor: pointer;
}

nav li a {
    text-decoration: none;
    color: rgb(0, 106, 80);
}

/* ------ nav bar style  ------ */

/* Banner section style here */
.banner {
    margin: 0 35px 0 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    height: 400px;
    background-color: #C6E4D6;
    padding: 60px 100px 60px 100px;
    border-radius: 15px;
}

.banner-content {
    max-width: 0 auto;
    margin-bottom: 6px;
    width: auto 622px;
    height: auto 326px;
}

.banner-title {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
}

.banner-heading {
    color: rgb(14, 14, 14);
    font-size: 46px;
    font-weight: 700;
}

/* ------- Banner section ends -------- */

/* The vision future style */
.vision-section {
    margin: 0 30px 0 30px;
    gap: 32px;
    padding: 60px 80px 60px 80px;
}

.card-container {
    margin-top: 30px;
    display: flex;
    gap: 30px;
}

#card-blue {
    background-color: #5490F533;
}

#card-green {
    background-color: #C6E4D6;
}

#card-khaki {
    background-color: #F7EBCF;
}

.card {
    width: 100%;
    height: 325px;
    padding: 32px;
    border-radius: 16px;

}

.card-title {
    color: #0E0E0ECC;
    font-size: 20px;
    font-weight: 700;
}

#card-btn-blue {
    background: #5490F5;
}

#card-btn-green {
    background: #09A15C;
}

#card-btn-khaki {
    background: #FFC239;
}

.chief-advisor {
    margin-top: 30px;
    padding: 40px 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 25px 30px;
}

.professor {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
    margin: 4px 0px;
}

/* ---- The vision future style ends ---- */

/* Recent News style */
.recent-section {
    margin: 0 35px 0 35px;
    gap: 30px;
    padding: 60px 100px 60px 100px;
    border-radius: 15px;
}

.news-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 70px;
}

.news-container img {
    border-radius: 24px;
}


.news-content {
    text-align: left;
    width: 740px;
    height: 290px;

}

/* Recent News style ends*/

/* donate style */
.donate-section {
    margin: 0 35px 0 35px;
    gap: 30px;
    padding: 60px 100px 60px 100px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;

}

.donate-title {
    text-align: center;
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
}

.donate-cards {
    justify-content: center;
    align-items: center;
}

.amount {
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
    margin-right: 20px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
    margin-top: 48px;
    cursor: pointer;
}

.amount:hover {
    background-color: #C6E4D6;
    transition-duration: 1s;
}

.other-amnt {
    text-align: center;
    color: rgba(14, 14, 14, 0.3);
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;

}
#donate-btn{
    display: block;
    margin: 0 auto;
    margin-top: 32px;
}
/* ---- donate style ends --- */